# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

build
!.vscode/*
.DS_Store
.cache/clangd/index/audio.c.DA4A97A5E5AB2BDA.idx
.cache/clangd/index/audio.h.067727F1AA876D7B.idx
.cache/clangd/index/clib.c.050B118BEC2EE752.idx
.cache/clangd/index/commands.c.13FA990AA6ED0223.idx
.cache/clangd/index/commands.h.FEFA009BF73EDB74.idx
.cache/clangd/index/display.c.1B8FC60C50B20660.idx
.cache/clangd/index/display.h.EAA26AC120E78FC5.idx
.cache/clangd/index/ds3231.c.2A79EBA10E71E2CF.idx
.cache/clangd/index/ds3231.h.F9EB6B054F9930E1.idx
.cache/clangd/index/fat32.c.BE6567AB28727A7F.idx
.cache/clangd/index/fat32.h.EEE6AC42A5D35820.idx
.cache/clangd/index/font-5x10.c.64599F6F586F5115.idx
.cache/clangd/index/font-8x10.c.0D37FFE3DDA4903D.idx
.cache/clangd/index/font.h.F9F5257F50894D7E.idx
.cache/clangd/index/keyboard.c.4C5F914F4A0E1302.idx
.cache/clangd/index/keyboard.h.73D541D2AE3696F2.idx
.cache/clangd/index/lcd.c.6BB9C60AED27BE82.idx
.cache/clangd/index/lcd.h.BECA09447940D397.idx
.cache/clangd/index/lwipopts.h.39B5332C06A040C7.idx
.cache/clangd/index/main.c.C43BF8D31573A1A4.idx
.cache/clangd/index/onboard_led.c.F47646F6788D1C2F.idx
.cache/clangd/index/onboard_led.h.D0565D12101C5CF7.idx
.cache/clangd/index/picocalc.c.57896D23E976C64B.idx
.cache/clangd/index/picocalc.h.C9D5130F0B3F4429.idx
.cache/clangd/index/sdcard.c.FF91F32C4E0E5746.idx
.cache/clangd/index/sdcard.h.1FF727B5A786138C.idx
.cache/clangd/index/songs.c.FD0A653B4F8D73FD.idx
.cache/clangd/index/songs.h.7CBBD837BB5867F6.idx
.cache/clangd/index/southbridge.c.EA159B245E0B7DEE.idx
.cache/clangd/index/southbridge.h.66BCA76971E0C559.idx
.cache/clangd/index/tests.c.941F5FDAA7993158.idx
.cache/clangd/index/tests.h.C79B6569A989EAA8.idx
.cache/clangd/index/tiles.h.0C349F5746E6AC1D.idx
.cache/clangd/index/wifi.c.B8D3B7A1FF2BD2A2.idx
.cache/clangd/index/wifi.h.6CB1A307CD496EF9.idx
.cache/clangd/index/gfx_core.c.895A3DDBB331AD7D.idx
